<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Release Management</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
				<% for(var i=0; i<nav.length;i++) {%>
	          <li><a href="<%=nav[i].Link%>">
							<%=nav[i].Text%></a></li>
	        <%}%>
  			</ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Storystrap
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div>
  </div><!-- /cont -->

</div>


<div class="container">
  <!--<div class="row"> -->

	<table class="table table-striped table-hover table-bordered">
	<tbody>
			<form name="addTestCase" action="/AddTestCase/addTest" method="post">
					<tr><td>TestCase:</td><td><textarea name="testCase" id="testCase"></textarea></td></tr>
					<tr><td>TestData:</td><td><textarea name="testCaseData" id="testCaseData"></textarea></td></tr>
					<tr><td>Expected Result:</td><td><textarea name="expectedResult" id="expectedResult"></textarea></td></tr>

          <tr><td>TestPlan Name:</td><td><select name="testplanName" class="form-control">
          <% for(var i=0; i<testplans.length;i++) {%>
                        <option><%=testplans[i].testPlanName%></option>
                        <%}%>
                      </select></td></tr>

					<tr><td><input type="submit" value="Add Test Case" /></td></tr>
			</form>
		</tbody>
	</table>
    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">



          <!--/stories-->


    		<!--<tr>
    		    <td> <b>Assigned To </b></a> </td>
    		    <td > <input type="textfield" id="assignedto" placeholder="assignee" >   </td>
    		</tr>
    		<tr>
    		    <td > <b>Severity</b>  </td>
    		    <td >
			<select name="severity">
                		<option value="1">1</option>
                		<option value="2">2</option>
                		<option value="3">3</option>
                		<option value="4">4</option>
                		<option selected="selected" value="5">5</option>
          		</select>
		    </td>
    		</tr>
    		<tr>
    		    <td > <b>Business Unit</b> </a> </td>
    		    <td >
			<select name="bu">
                		<option value="A">WebEx</option>
                		<option value="B">WebEx</option>
                		<option value="C">WebEx</option>
                		<option value="D">WebEx</option>
                		<option selected="selected" value="E">FreeFlow</option>
          		</select>
		    </td>
    		</tr>
    		<tr>
    		    <td > <b>Mailing List</b> </a> </td>
    		    <td >
			<select name="mu">
                		<option value="m0">eng@akamai.com</option>
                		<option value="m1">eng@akamai.com</option>
                		<option value="m2">eng@akamai.com</option>
                		<option value="m3">eng@akamai.com</option>
                		<option selected="selected" value="m4">eng@akamai.com</option>
          		</select>
		    </td>
    		</tr>
		<tr>
			<td> Send SMS Alert: </td>
          		<td><input type="checkbox" id="incident-sms" name="sms" checked> </td>
		</tr>
    		<tr>
			<td colspan="2">
  		 		<input type="textfield" id="summary" placeholder="Summary" class="input-xxlarge">
			</td>
		</tr>
		<tr>
			<td colspan="1">
				<textarea id="desc" class="input-xxlarge" rows="5"  placeholder="Descripton"></textarea>
				</br>
			</td>
			<td colspan="1">
				<textarea  id="feed"  class="input-xxlarge" rows="5"  placeholder="Subscribers"></textarea>
			<div id="typ">
  				<input class="typeahead" class="span6" id="chattxt"> <button class="btn btn-info" id="datai">add!</button>
			</div>
			</td>
    		</tr>
			<td colspan="2">
				<button class="btn btn-danger input-xxlarge" id="submit">Submit!</button>
			</td>
    		</tbody>
    		</table>
			</div>-->
          <hr>
          <!--/stories-->


          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


        </div>
      </div>



   	</div><!--/col-12-->
  </div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>

      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="lib/jquery/dist/jquery.min.js"></script>
		<script src="lib/bootstrap/dist/css/bootstrap.min.css"></script>
	</body>
</html>
